doctype html
html
	head
		title NodeBlog
	body
		h2= userBlog
		
		form(method='post', action='/post/' + user)
			textarea(placeholder='Give your Post a Title', name='title' rows=1)
			br
			br
			textarea(placeholder='Give your post some content, speak your mind', name='postbody', rows 100)
			br
			input(type='submit')
		br
		br
		br
		a(href='/logout/:' + user) Logout
		br
		br
		h1 Previous Posts:
		h2= lastPostTitle
		p= lastDate
		p= lastPostBody
		h2= secLastTitle
		p= secDate
		p= secLastBody
		h2= thirdLastTitle
		p= thirdDate
		p= thirdLastBody
		br
		br