doctype html
html
	head
		title NodeBlog
	body
		h2= userBlog
		br
		br
		br
		br
		br
		h1 Previous Posts:
		h2= lastPostTitle
		p= lastDate
		p= lastPostBody
		h2= secLastTitle
		p= secDate
		p= secLastBody
		h2= thirdLastTitle
		p= thirdDate
		p= thirdLastBody
		br
		br